
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/healthy/h01.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/healthy/h02.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/healthy/h03.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/healthy/h04.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/healthy/h05.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/healthy/h06.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/healthy/h07.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/healthy/h08.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/healthy/h09.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/healthy/h10.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/healthy/h11.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/healthy/h12.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/healthy/h13.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/healthy/h14.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/schizophrenia/s01.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/schizophrenia/s02.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/schizophrenia/s03.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/schizophrenia/s04.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/schizophrenia/s05.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/schizophrenia/s06.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/schizophrenia/s07.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/schizophrenia/s08.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/schizophrenia/s09.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/schizophrenia/s10.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/schizophrenia/s11.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/schizophrenia/s12.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/schizophrenia/s13.csv
McKibben Data Science/DSC550/Schizophrenia EEG Data 2/schizophrenia/s14.csv
McKibben Data Science/DSC510/McKibben DSC510 Ex. 10.1 Final Project Needs comments.py
McKibben Data Science/DSC510/McKibben DSC510 Ex. 10.1 Final Project Functional Code Need to Finish Comments.py
McKibben Data Science/DSC510/McKibben DSC510 Ex. 10.1 Final Project Ready for troubleshooting and comments.py
McKibben Data Science/DSC550/archive(11).zip
